<footer>
 	<br>
	<tr></tr>
 	<h2>Apoio</h2>
 	<hr>
    <img src="/img/cnpq.png" height="75" hspace="20">
    <img src="/img/ufba.png" height="75" hspace="20">
	<img src="/img/ime.png" height="75" hspace="20">
	<img src="/img/dcc.png" height="75" hspace="20">
			
  <p>O código dessa página é livre. 
  <a href="https://github.com/teocompne2019/teocompne2019.github.io/">Baixe o código no GitHub</a>. &nbsp;
  Quer falar conosco? <a href="mailto:teocompne@ufba.br">Clique aqui e nos envie um email.</a></p>
</footer>
