<footer>
  <p>O comitê de organização é formado pelos professores listados abaixo:</p>
  <ul>
	  <li>Ana Shirley Ferreira da Silva  (DMAT-UFC)</li>
	  <li>Antonio Josefran de Oliveira Bastos (EC - UFC Sobral)</li>
	  <li>Cláudia Linhares Sales (DC-UFC)</li>
	  <li>Julio Cesar Silva Araujo (DMAT-UFC)</li>
	  <li>Marlo Vieira dos Santos e Souza  (DCC-UFBA)</li>
	  <li>Rafael Augusto de Melo (DCC-UFBA)</li>
	  <li>Roberto Freitas Parente (DCC-UFBA)</li>
	  <li>Tiago de Oliveira Januario (DCC-UFBA)</li>
  </ul>
  <p>
  We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="http://confcodeofconduct.com/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it.</p>

  <p>The code for this website is open source. <a href="https://github.com/csvconf/csvconf.com/" title="CSV,Conf website repo on GitHub">View it on GitHub</a>. &nbsp;
  Want to talk to us? <a href="https://csvconf-slackin.herokuapp.com/" title="CSV,Conf Slack organization">Join us on Slack.</a></p>

</footer>
