
<div class="header">
  <h1><a href="/">TeoCOMP-NE</a></h1>
  	<table>
  		<tr>
	        <td colspan="3" class="tagline">
    	      <p>
        		  <a href="/">Início</a>
	    	      - <a href="/schedule/">Programação</a>
   				  - <a href="/organization/">Comitê</a>
   				  - <a href="/locations/">Localização</a>
   				  - <a href="/cfp/">Chamada de Trabalhos</a>
   				  - <a title="Inscrição" class="button" href="https://www.sympla.com.br/i-escola-regional-de-teoria-da-computacao__471344" target="_blank">Inscrição</a>
	    	      - <a title="Submissão" class="button" href="https://easychair.org/conferences/?conf=teocompne2019" target="_blank">Submissão</a>
    	      </p>
        	</td>
    	</tr>
	</table>
</div>
