
<div class="header">
<img src="/img/logo.png" height="150" hspace="5">

  <h1><a href="/">TeoCOMP-NE</a></h1>
  	<table>
  		<tr>
	        <td colspan="3" class="tagline">
    	      <p>
        		  <a href="/">Início</a>
	    	      - <a href="/schedule/">Programação e resumos</a>
   				  - <a href="/organization/">Comitê</a>
   				  - <a href="/locations/">Localização</a>
   				  - <a href="/cfp/">Chamada de Trabalhos</a>
				  - <a title="Resumos (PDF)" class="button" href="/resumos/apresentacoes.pdf" target="_blank">Apresentações e Resumos</a>
   				  - <a title="Inscrição" class="button" href="https://www.sympla.com.br/i-escola-regional-de-teoria-da-computacao__471344" target="_blank">Inscrição</a>
    	      </p>
        	</td>
    	</tr>
	</table>
</div>
