
<div class="header">
  <h1><a href="/">TeoCOMP-NE</a></h1>
  	<table>
  		<tr>
	        <td colspan="3" class="tagline">
    	      <p>
        		  <a href="/">Início</a>
	    	      - <a href="/schedule/">Programação</a>
   				  - <a href="/organization/">Organização</a>
   				  - <a href="/locations/">Local</a>
	    	      - <a title="Inscreva-se!" class="button" href="https://www.sympla.com.br/i-escola-regional-de-teoria-da-computacao__471344" target="_blank">Inscreva-se!</a>
    	      </p>
        	</td>
    	</tr>
	</table>
</div>
