<html>
  <head>
    <title>TeoCOMP-NE - 2 a 4 de Maio, 2019 - Salvador, BA</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph Data -->
    <meta property="og:title" content="TeoCOMP-NE - 2 a 4 de Maio, 2019 - Salvador, BA"/>
    <meta property="og:url" content="http://teocompne2019.github.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="A <b>I Escola Regional de Teoria da Computação - Nordeste</b> tem como objetivo 
          	promover as áreas de lógica, combinatória e otimização, no 
          	contexto regional do Estado da Bahia e da Região Nordeste do Brasil"/>

  </head>
